HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
=======
# --- Maven ---
target/
**/target/
.mvn/
mvnw
mvnw.cmd

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr

# --- Compiled Class Files ---
*.class

# --- Logs ---
*.log

# --- OS Junk ---
.DS_Store
Thumbs.db

# --- Archive Files ---
*.zip
*.tar
*.jar
*.war

