# Build and target folders
/target/
/bin/
/build/

# Eclipse / STS files
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache
.apt_generated

# IntelliJ / NetBeans
.idea/
*.iml
*.iws
*.ipr
/nbproject/
/dist/

# OS files
.DS_Store
Thumbs.db

# Keep these! Do NOT exclude your config files
# src/main/resources/application.properties
# src/main/resources/hibernate.cfg.xml